#section2 {
    background-color: var(--primary300);
    padding: 2em 0;
}
#section2 .container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    flex-direction: column;
}

#section2 .container .imgBox {
    padding: 0 1em;
    flex: 1;
}

#section2 .container .imgBox img {
    width: 100%;
}

#section2 .container .textBox {
    padding: 0 1em;
    width: auto;
    flex: 1;
}

#section2 h2, #section2 p {
    color: var(--primaryBackground) !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #section2 .container {
        flex-direction: row;
    }
}
