.subheader {
    width: 100%;
    background-color: var(--textColour);
}

/* Slideshow container */
.slideshow-container {
    height: 600px;
    overflow: hidden;
    width: 100%;

}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
}


.mySlides img {
    width: 100%;
    object-fit: cover;    
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 16px;
    margin-top: -22px;
    color: var(--primaryBackground);
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--primary300);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .slideshow-container {
        height: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {    
    .slideshow-container {
        height: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .slideshow-container {
        height: 600px;
    }

    .prev,
    .next {
        top: 45% !important;
    }
}
/* Xtra large devices*/
@media only screen and (min-width: 2000px) {


    .slideshow-container {
        height: 800px;
    }
}
